html,
body {
	background: #1D2129;
	color: #e5e9f0;
	font: 16px/1.5 -apple-system, Helvetica, Arial, sans-serif, "Segoe UI Symbol";
}
a,
a:visited {
	color: #A6555D;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
article {
	h1, a, a:visited {
		color: #4E9ABF;
	}
}
main {
	margin: auto;
	max-width: 38rem;
	padding: 0.8rem;
}
pre {
	background: #eceff4;
	overflow: hidden;
	padding: 1rem;
}
td {
	border: 1px solid #eceff4;
	padding: 10px;
}
img {
	height: auto;
	max-width: 100%;
}
.homepage-list {
	list-style: none;
	padding: 1rem 0;
}
.homepage-list li {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
@media (max-width: 38rem) {
	.homepage-list li a {
		width: 100%;
	}
}
