$grey-hue: 205 !default;
$grey-50: hsl($grey-hue, 20%, 94%) !default;
$grey-100: hsl($grey-hue, 18%, 86%) !default;
$grey-200: hsl($grey-hue, 16%, 77%) !default;
$grey-300: hsl($grey-hue, 14%, 68%) !default;
$grey-400: hsl($grey-hue, 12%, 59%) !default;
$grey-500: hsl($grey-hue, 10%, 50%) !default;
$grey-600: hsl($grey-hue, 15%, 41%) !default;
$grey-700: hsl($grey-hue, 20%, 32%) !default;
$grey-800: hsl($grey-hue, 25%, 23%) !default;
$grey-900: hsl($grey-hue, 30%, 15%) !default;

@import "pico/pico.scss";

.container {
  padding-top: 0px;
  padding-bottom: 0px;
}

header {
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .menu {
      display: flex;
      align-items: center;
      gap: 1em;
      h1 {
        margin-bottom: 0px;
      }
    }
  }

  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
}

@media (max-width: 700px) {
  header {
    nav {
      flex-direction: column;
    }
  }
}

.mermaid {
  display: flex;
  align-items: center;
  justify-content: center;
}
