:root {
    --primary: #4d724d;
    --secondary: #8db48e;
    --bg-color: #F5F5F5;
    --bg-color-darker: #ECECEC;
    --font-color: #090203;
    --font-color-sub: #a6adc8;
    --font-italic: #737994;
}

/* --- Global --- */

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 1.0;
    color: var(--font-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

h2,
h3,
h4 {
    margin: 10px 0px 10px 0px;
}

h1 {
    font-size: 3rem;
    color: var(--font-color);
    background-color: var(--primary);
    padding: 5px 5px 5px 10px;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.4rem;
}

img {
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    text-align: justify;
    font-family: "Inter";
}

p em {
    color: var(--font-italic);
}

a {
    text-decoration: none;
    color: var(--primary)
}

a:hover {
    color: var(--secondary);
}

blockquote {
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    background-color: var(--bg-color-darker);
    border: 0px solid transparent;
    border-left: 2px solid var(--primary);
}

pre {
    padding: 20px;
}

kbd {
    background-color: var(--primary);
    color: var(--bg-color);
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
    font-weight: bold;
}

hr {
    border: 0px solid transparent;
    border-bottom: 1px solid var(--font-italic);
    width: 100%;
    max-width: 1024px;
}

/* --- Generic classes --- */

.container {
    width: 100%;
    max-width: 1024px;
}


/* --- Header --- */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary);
    background-color: transparent;
    font-weight: bold;
}

header h2 {
    position: relative;
}

header h2 a {
    color: var(--font-color);
    padding: 5px;
}

header h2 a::before {
    background-color: var(--primary);

    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: 70%;
    left: -2px;
    bottom: -10px;
    z-index: -1;
    transform: rotate(-2deg);
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul a {
    text-decoration: none;
    color: var(--font-color);
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

header nav li::before {
    content: "~/";
}



/* --- Main sections --- */

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 30px;
}

main h2 {
    text-decoration: underline;
    text-decoration-color: var(--primary);
}

main p {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

main a {
    text-decoration: underline;
    text-decoration-style: dotted;
}


/* --- Footer sections --- */

footer {
    width: 100%;
    color: var(--font-color);
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

footer p {
    font-size: 0.9rem;
    padding-top: 0.5rem;
}


/* --- Specific classes --- */

.metadata {
    color: var(--font-italic);
    font-style: italic;
    font-family: serif;
    display: flex;
    column-gap: 0.5rem;
}

.metadata p::before {
    content: "~";
}

.index {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;

}

.index li {
    margin-bottom: 20px;
    border: 0px solid transparent;
    border-left: 5px solid var(--primary);
    padding: 5px 10px 5px 10px;
}

.index li a {
    text-decoration: none;
    color: var(--font-color);
}


/* --- Media query --- */

@media all and (max-width: 1024px) {

    .container {
        width: 90%;
    }

    .metadata {
        flex-direction: column;
    }

}
