<!DOCTYPE html>
<html>
    <!-- Extract this in a partial part -->
    <head>
        <title>{{ config.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/light.css" rel="stylesheet">
        <link href="/css/dark.css" rel="stylesheet">
    </head>

    <!-- Umami -->
    <script defer src="https://analytics.maiste.fr/script.js" data-website-id="b1e6219d-8044-47d9-9e91-44db862e2732"></script>
    <!-- End Umami Code -->

    <script>
    const html = document.getElementsByTagName("html")[0];

    function getDefaultTheme() {
        const local_theme = localStorage.getItem("maisteTheme")
        return local_theme !== null
            ? local_theme
            : (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light" );
    }

    function setTheme(theme) {
        localStorage.setItem("maisteTheme", theme);
        html.setAttribute("data-theme", theme);
        html.setAttribute("data-theme", theme);
    }

    function toggleTheme() {
        let theme = localStorage.getItem("maisteTheme");
        if(theme === "dark") {
            setTheme("light");
        } else {
            setTheme("dark")
        }
    }

    setTheme(getDefaultTheme());
    </script>

    <body>
        <header class="container">
            <nav>
                <div class="menu">
                <h1><a href="/">{{ config.title }}</a></h1>
                <a href="https://github.com/maiste" class="contrast" aria-label="Maiste GitHub">
                        {{ load_data(path="static/svg/github.svg") | safe}}
                </a>
                <a href="https://fosstodon.org/@maiste" class="contrast" aria-label="Maiste Mastodon">
                        {{ load_data(path="static/svg/mastodon.svg") | safe}}
                </a>
                </div>
                <ul>

                {% if config.extra.menu %}
                  {% for menu in config.extra.menu %}
                    <li>
                        <a href="{{ get_url(path=menu.url) | safe }}" role = "button">{{ menu.name }}</a>
                    </li>
                  {% endfor %}
                {% endif %}

                    <li>
                        <button role="button" onclick="toggleTheme()">
                            {{ load_data(path="static/svg/dark_mode.svg") | safe}}
                        </button>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="container">
            <small>
                Website written with <a href = "https://www.getzola.org/">zola</a> with ♡
                •
                Css built with <a href="https://picocss.com">Pico</a>
                <br />
                Copyright © Maiste 2020 - 2023
            </small>
        </footer>
    </body>
</html>
