{% extends "base.html" %}

{% block content %}
<div class = "block">
  <h1 class="title">
    {{ page.title }}
  </h1>
  <p class="subtitle">
  {% if page.date %} <strong>{{ page.date }}</strong> - {% endif %}
  {% if page.description %} {{ page.description -}} {% endif %}
  </p>

  <hr />
</div>


<div class="content">
  {{ page.content | safe }}
</div>

{% if config.extra.author %}
<footer class="block">
  <hr/>
  <div class="content has-text-centered">
    <p><strong>{{ config.extra.author.name }}</strong></p>
    <p><a href={{ config.extra.author.github }}>Github</a></p>
  </div>
</footer>
{% endif %}
{% endblock content %}
