{% extends "base.html" %}
{% block content %}

<article>
    <header>
        <h1> {{ section.title }} </h1>
    </header>

    <ul>
    {% for subsection in section.subsections | sort() | reverse() %}
    {% set subsection = get_section(path=subsection) %}
        <li>
            <p><a href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a></p>
            <ul>
            {% for page in subsection.pages | sort(attribute="date") | reverse() %}
            <li>[{{page.date}}] <a href = "{{ page.permalink | safe }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</article>

{% endblock content %}
