{% extends "base.html" %}
{% block content %}

<nav aria-label="breadcrumb">
    <ul>
    {% set url = "/" %}
    {% set l = page.components | length %}
    {% if l > 1 %}
    {% for path in page.components %}
        {% set bread = path | capitalize() %}
        {% set_global url = url ~ path ~ "/" %}
        <li><a href="{{ url }}">{{ bread }}</a></li>
    {% endfor %}
    {% endif %}
    </ul>
</nav>

<article>
    <header>
        <h1>
            {{ page.title }}
        </h1>
    </header>
    {% if page.toc %}
    <div class = "toc">
        <h2>
            Table Of Content
        </h2>
        <ul>
        {% for h1 in page.toc %}
            <li><a href = "{{ h1.permalink | safe }}">{{ h1.title }}</a></li>
        {% endfor %}
        </ul>
        <hr />
    </div>
    {% endif %}
    <div class = "content">
    {{ page.content | safe }}
    </div>
</article>
{% endblock content %}
