{% extends "base.html" %}
{% block content %}

<nav aria-label="breadcrumb">
    <ul>
    {% set url = "/" %}
    {% set l = section.components | length %}
    {% if l > 1 %}
    {% for path in section.components %}
        {% set bread = path | capitalize() %}
        {% set_global url = url ~ path ~ "/" %}
        <li><a href="{{ url }}">{{ bread }}</a></li>
    {% endfor %}
    {% endif %}
    </ul>
</nav>


<article>
    <header>
        <h1 class="title">
         {{ section.title }}
        </h1>
    </header>

<ul>
{% if section.pages %}
{% for page in section.pages | sort(attribute="title") %}
  <li>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      <p>{{ page.description }} <p/>
  </li>
{% endfor %}
{% endif %}
{% if section.subsections %}
{% for subsection in section.subsections | sort %}
{% set subsection = get_section(path=subsection) %}
  <li>
      <a href="{{ subsection.permalink | safe }}">{{ subsection.title | safe }}</a>
      <p>{{ subsection.description | safe }}</p>
  </li>
{% endfor %}
{% endif %}
</ul>
</article>

{% endblock content %}
