<h1>The projects I have been working on</h1>

<div class="content">
  {%- autoescape false -%} {{ yocaml_body }} {%- endautoescape -%}
</div>

<ul class="project">
  {%- for project in projects -%}
  <li>
    <h2>{{ project.name }}</h2>
      {%- if project.has_date -%}
      <p>
      <i>
      ~Date: &nbsp;
      {%- if project.has_starting_year -%} Started in {{ project.starting_year}}{%- endif -%}
      {%- if project.has_ending_year -%} &nbsp; - Stopped in {{ project.ending_year }}
      {%- elif project.active -%} &nbsp; - Current
      {%- endif -%}
      </i>
      </p>
      {%- endif -%}

    <div>
     {%- autoescape false -%}{{ project.summary }}{%- endautoescape -%}
    </div>

    {%- if project.has_links -%}
    <p class="link">Links:</p>
    <ul>
      {%- for link in project.links -%}
        <li>- <a href="{{ link }}">{{ link }}</a></li>
      {% endfor %}
    </ul>
    {%- endif -%}
  </li>
  {% endfor %}
</ul>

