<h1>The projects I have been working on</h1>

<div class="content">
  {%- autoescape false -%} {{ yocaml_body }} {%- endautoescape -%}
</div>

<div class="project-list push-top-l">
  {%- for project in projects -%}
  <div class="project">
    <h2>{{ project.name }}</h2>
    {%- if project.has_date -%}
    <div class="metadata">
      <p>
        {%- if project.has_starting_year -%} Started in
        {{project.starting_year}} {%- endif -%} {%- if project.has_ending_year
        -%} &nbsp;- Stopped in {{ project.ending_year }} {%- elif project.active
        -%} &nbsp;- Current {%- endif -%}
      </p>
    </div>
    {%- endif -%}

    <div>
      {%- autoescape false -%}{{ project.summary }}{%- endautoescape -%}
    </div>

    {%- if project.has_links -%}
    <p><strong>Links:</strong></p>
    <ul>
      {%- for link in project.links -%}
      <li><a href="{{ link }}">{{ link }}</a></li>
      {% endfor %}
    </ul>
    {%- endif -%}
  </div>
  {% endfor %}
</div>
